<aside
  class="bg-[#0f172a] w-64 min-h-screen text-gray-300 shadow-xl flex flex-col"
>

  <!-- Navigation -->
  <nav class="flex-1 px-4 py-4 space-y-1">

    <a
      routerLink="/admin/dashboard"
      routerLinkActive="bg-blue-600 text-white"
      class="flex items-center gap-3 px-4 py-2 rounded-md hover:bg-slate-800 transition"
    >
      <i class="fa-solid fa-gauge"></i>
      Dashboard
    </a>

    <a
      routerLink="/admin/products"
      routerLinkActive="bg-blue-600 text-white"
      class="flex items-center gap-3 px-4 py-2 rounded-md hover:bg-slate-800 transition"
    >
      <i class="fa-solid fa-box"></i>
      Products
    </a>

    <a
      routerLink="/admin/categories"
      routerLinkActive="bg-blue-600 text-white"
      class="flex items-center gap-3 px-4 py-2 rounded-md hover:bg-slate-800 transition"
    >
      <i class="fa-solid fa-layer-group"></i>
      Categories
    </a>

    <a
      routerLink="/admin/orders"
      routerLinkActive="bg-blue-600 text-white"
      class="flex items-center gap-3 px-4 py-2 rounded-md hover:bg-slate-800 transition"
    >
      <i class="fa-solid fa-cart-shopping"></i>
      Orders
    </a>

    <a
      routerLink="/admin/users"
      routerLinkActive="bg-blue-600 text-white"
      class="flex items-center gap-3 px-4 py-2 rounded-md hover:bg-slate-800 transition"
    >
      <i class="fa-solid fa-users"></i>
      Users
    </a>

    <a
      routerLink="/admin/reports"
      routerLinkActive="bg-blue-600 text-white"
      class="flex items-center gap-3 px-4 py-2 rounded-md hover:bg-slate-800 transition"
    >
      <i class="fa-solid fa-chart-line"></i>
      Reports
    </a>

  </nav>
</aside>
