<div class="container mx-auto pt-24 px-4">

  <!-- ================= CATEGORY MENU ================= -->
<div class="flex gap-6 py-4 border-b overflow-x-auto whitespace-nowrap">

  <div *ngFor="let cat of categories"
       (click)="goToCategory(cat)"
       class="cursor-pointer font-medium px-2 py-1 hover:text-blue-600">
    {{cat}}
  </div>

</div>



<div class="relative mt-4 group w-full overflow-hidden rounded-lg">

  <owl-carousel-o #owlCarousel [options]="bannerOptions" (translated)="onSlideChange()">
    <ng-template carouselSlide *ngFor="let banner of banners">

      <!-- Compact Banner Size -->
      <img [src]="banner" 
           class="w-full h-[180px] sm:h-[220px] md:h-[260px] object-cover rounded-lg" />

    </ng-template>
  </owl-carousel-o>

  <!-- Prev Btn -->
  <button (click)="prev()"
    class="absolute left-2 top-1/2 -translate-y-1/2 bg-black/40 text-white text-xl px-2 py-1 rounded-full
    opacity-0 group-hover:opacity-100 transition">
    ‹
  </button>

  <!-- Next Btn -->
  <button (click)="next()"
    class="absolute right-2 top-1/2 -translate-y-1/2 bg-black/40 text-white text-xl px-2 py-1 rounded-full
    opacity-0 group-hover:opacity-100 transition">
    ›
  </button>

  <!-- Progress bar bottom -->
  <div class="absolute bottom-0 left-0 w-full h-[3px] bg-gray-300">
    <div class="h-full bg-blue-500 transition-all duration-[3000ms]" [style.width.%]="progress"></div>
  </div>

</div>






  <!-- ================= BEST PRODUCTS SECTION ================= -->
    <div class="mt-8">
        <h2 class="text-2xl font-bold mb-4">Best Offers For You</h2>

        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6">

        <div *ngFor="let item of bestProducts" 
            class="bg-white shadow hover:shadow-xl rounded-xl p-3 cursor-pointer transition transform hover:scale-[1.03]"
            (click)="openImage(item.image)">

            <img [src]="item.image" alt="" class="h-40 w-full object-cover rounded-lg mb-3">

            <h3 class="text-sm font-semibold truncate">{{ item.name }}</h3>
            <p class="text-green-600 font-bold mt-1">₹ {{ item.price }}</p>
            <p class="text-gray-500 text-xs">Upto {{ item.offer }}% Off</p>
        </div>
        </div>
    </div>


    <!-- 🔥 IMAGE POPUP MODAL -->
    <div *ngIf="selectedImage" class="fixed inset-0 bg-black/70 backdrop-blur-sm flex justify-center items-center z-[999]"
        (click)="closeImage()">
            <button (click)="closeImage()"
      class="absolute top-4 right-4 text-white text-3xl font-bold hover:text-red-400 transition">
      ✕
    </button>
        <img [src]="selectedImage" 
            class="max-w-[90%] max-h-[90%] rounded-lg shadow-lg cursor-zoom-out transition">

    </div>




</div>
