.categories-container {
  background: white;
  padding: 12px;
  display: flex;
  justify-content: center;

  ul {
    display:flex;
    gap:25px;
    list-style:none;
    font-size:15px;
    font-weight:600;
    cursor:pointer;

    li:hover { color:#2874f0; }
  }
}

.banner-container {
  width:100%;
  height:320px;
  margin-top:10px;
}

.banner-img {
  width:100%;
  height:320px;
  object-fit:cover;
  border-radius:10px;
}
